<center><h2>COMING SOON! SPECHTLAW.COM!</h2></center>
<div class="clear"></div>
<center><h2>Jonathon Matthew Specht</h2></center>
<div class="clear"></div>
<center><h4>'Cause I'm Awesome and You Need Legal Assistance</h4></center>
<center><%= image_tag "/assets/awesome.jpg" %></center>
